pin-depends: [
  ["ctf.dev" "git+https://github.com/ocaml-multicore/eio.git#231e473d98d00ab39a560a82a0ced79ed6427c40"]
  ["eio.dev" "git+https://github.com/ocaml-multicore/eio.git#231e473d98d00ab39a560a82a0ced79ed6427c40"]
  ["eio_linux.dev" "git+https://github.com/ocaml-multicore/eio.git#231e473d98d00ab39a560a82a0ced79ed6427c40"]
  ["eio_luv.dev" "git+https://github.com/ocaml-multicore/eio.git#231e473d98d00ab39a560a82a0ced79ed6427c40"]
  ["eio_main.dev" "git+https://github.com/ocaml-multicore/eio.git#231e473d98d00ab39a560a82a0ced79ed6427c40"]
]
